/* this is a copy of lessvars.less so that these variables can be used in local css modules too */
/* notice the order and values, it's a literal copy so that copy/paste and edit becomes easy by changing @ to -- 
    and encapsulate inside root */
/* place this file in pages/_app.js and at the bottom of all style imports */
:root {
  --background-color: aliceblue;
  --normal-color: #d9d9d9;
  --info-color: #1890ff;
  --dark-color: rgb(51, 51, 51);
  --primary-color: #191a1b;
  --link-color: #1890ff;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #f5222d;
  --font-size-base: 14px;
  --heading-color: rgba(0, 0, 0, 0.85);
  --text-color: rgba(0, 0, 0, 0.65);
  --text-color-secondary: rgba(0, 0, 0, 0.45);
  --disabled-color: rgba(0, 0, 0, 0.25);
  --border-radius-base: 4px;
  --border-color-base: #d9d9d9;
  --box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
  --code-family: 'Anonymous Pro', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
}
